---
layout: default
title: Home
---

<div class="container">My take on the best ski runs in the Alps. This idea is inspired by the book <a href="http://www.50classicskidescents.com/">50 Classic Ski Descents of North America</a>.
<br><br>

The selection is entirely subjective and is very much a work in progress. Classic routes include pistes runs, lift-accessed off-piste, lines that need to be hiked, multi day ski tours and anything else I can think of.
This is not a guide, I don't give grades or any kind of accurate assessement, and I certainly don't claim to have skied them all. It's just a bit of fun and I'd love to add more routes to the list, so please feel free to contribute.
<br><br>

Contact via <a href="{{ site.github.url }}/menu/contact.html">this page</a>

<h2>The routes!</h2>
These are the routes. There aren't quite 50. Yet. </div>

{% for route in site.routes %}
<div>
    <h3><a href="{{ site.github.url }}{{ route.url }}">{{ route.title }}</a> <small>{{ route.resort }}, {{ route.country | capitalize}}</small></h3>
</div>
{% endfor %}
